*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #556877;
}

.container{
  width: 80%;
  height: 100%;
  margin: auto;
}

.float-left{
  float: left;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

nav .nav-top{
  width: 100%;
  height: 100px;
  background-color: #F4F9FD;
  border-bottom: 1px solid #32495B;
  position: fixed;
  top: 0;
  left: 0;
}

nav .nav-top-left, nav .nav-top-right, nav .nav-bottom-left, nav .nav-bottom-right{
  width: 50%;
  line-height: 100px;
}


#linea{
  border-right: 1px solid black;
  padding-right: 20px;
}

.nav-top-left span:last-child{
  padding-left: 20px;
}

nav .nav-top-right{
  text-align: right;
}

nav .nav-top-right ul{
  display: inline-block;
  text-decoration: none;
}

nav .nav-top-right li, nav .nav-bottom-right li{
  list-style-type: none;
  display: inline-block;
  padding-left: 20px;
}

nav .nav-top-right a{
  text-decoration: none;
}

nav .nav-bottom{
  height: 100px;
  margin-top: 100px;
  /* background-color: lightgreen; */
}

nav .nav-bottom-left .logo{
  padding-top: 5px;
}

nav .nav-bottom-right{
  text-align: right;
}

header .jumbotron{
  height: 650px;
  background-color: #FFF2EE;
}
