*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #33475B;
  background: #F4F9FD;
}

* ul{
list-style-type: none;
}

 a{
  text-decoration: none;
 }

a:hover{
  color: lightblue;
  text-decoration: underline;
}

.container{
  width: 70%;
  height: 100%;
  margin: auto;
}

.float-left{
  float: left;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.btn-border{
  color: #FE775A;
  border: 1px solid #FE775A;
  border-radius: 5px;
  padding: 9px;
}

.btn-orange{
  color: white;
  background-color: #FE775A;
  border-radius: 5px;
  padding: 10px;
}

.btn-grey{
  color: #2D3E50;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 10px;
}

.btn-large{
  padding: 20px 40px 20px 40px;
}

.btn-orange:hover{
  background-color: white;
  color: #FE775A;
  text-decoration: underline;
}

.btn-border:hover{
  color: white;
  background-color: #FE775A;
  text-decoration: underline;
}

.btn-grey:hover{
  color: lightgrey;
  background-color: #2D3E50;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  text-decoration: underline;
}

/* header */
header, nav{
display: unset;
}

nav a{
  text-decoration: none;
  color: #32495B;
}

nav .nav-top{
  width: 100%;
  height: 100px;
  background-color: #F4F9FD;
  border-bottom: 1px solid #32495B;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav .nav-top-left, nav .nav-top-right, nav .nav-bottom-left, nav .nav-bottom-right{
  width: 50%;
  line-height: 100px;
}


#linea{
  border-right: 1px solid black;
  padding-right: 20px;
}

.nav-top-left span:last-child{
  padding-left: 20px;
}

nav .nav-top-right{
  text-align: right;
}

nav .nav-top-right ul{
  display: inline-block;
  text-decoration: none;
}

nav .nav-top-right li, nav .nav-bottom-right li{
  list-style-type: none;
  display: inline-block;
  padding-left: 20px;
}

nav .nav-top-right a, .jumbotron-text a, .w-block-up a{
  text-decoration: none;
}

nav .nav-bottom{
  height: 100px;
  background-color: white;

  margin-top: 100px;

  /* position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2); */
}

nav .nav-bottom-left .logo{
  padding-top: 5px;
}

nav .nav-bottom-right{
  text-align: right;
}

header .jumbotron{
  height: 650px;
  background-image: url('../img/jumbotron.png');
  background-color: #FFF4EF;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;

}

.jumbotron-text{
  width: 40%;
  padding-top: 40px;
}

.jumbotron-text h1{
  font-size: 50px;
}

.jumbotron-text h1,.jumbotron-text p, a{
  padding-bottom: 40px;
}

.jumbotron-text .jumbotron-text-low{
  font-size: 11px;
  padding-top: 40px;
}

.jumbotron-bar{
  width: 100%;
  height: 60px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
  position: absolute;
  bottom: 0px;
}
/* header */

/* main */
.powerful{
  text-align: center;
}

.powerful img{
  height: 250px;
  padding-top: 40px;
}

.powerful h2{
  font-size: 40px;
}

.powerful h2, .powerful .powerful-text{
  padding-bottom: 40px;
}

.w-block{
  width: 100%;
  margin-bottom: 40px;
}

.w-block-up{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.w-block-up-left{
  width: 30%;
  height: 100%;
  padding: 40px;
  text-align: center;
}

.w-block-up-left img{
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.w-block-up-right{
  width: 70%;
  height: 100%;
  padding: 40px 0;
}

.w-block-up-right h3{
  text-transform: uppercase;
  display: inline-block;
}
.w-block-up-right hr{
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  border: 1px solid grey;
}

.w-block-up-right li{
  display: inline-block;
}

.w-block-up-right li i{
  padding-right: 10px;
  color: #FE775A;
}

.w-block-up-right li span{
  padding-right: 40px;
}

.w-block-up-right p, .w-block-up-right h3, .w-block-up-right ul{
  padding-top: 30px;
}

.w-block-up-right p{
  padding-right: 30%;
}

.w-block-low{
  margin-top: 40px;
}

.w-block-lows{
  width: 30%;
  padding: 30px 60px 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  text-align: center;
}

.w-block-lows img{
  height: 100px;
}

.w-block-lows > *{
  margin-bottom: 30px;
}

.w-block-lows p, .w-block-lows ul{
  margin-bottom: 50px;
}

.w-block-lows hr{
  border: 1px solid #33475b;
}

.w-block-lows h3{
  text-transform: uppercase;
}

.w-block-lows ul{
  text-align: left;
  margin-bottom: 70px;
}

.w-block-lows li i {
  padding-right: 10px;
  color: #FE775A;
}

.w-block-lows.center{
  margin-left: 5%;
  margin-right: 5%;
}

.blue{
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  color: white;
  padding-bottom: 70px;
}

.blue-text{
  text-align: center;
  padding: 40px 0;
}

.blue-text h2{
  font-size: 40px;
  padding-bottom: 25px;
}

.square{
  width: 25%;
  text-align: center;
  padding: 25px 0px;
}

.square h2{
  font-size: 40px;
  padding: 15px 0px;
}

.square h2::after{
  content: '+';
  font-size: 20px;
  font-weight: normal;
  vertical-align: middle;
}

.square p{
  font-size: 12px;
}

.square:nth-child(2){
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.square:nth-child(3){
  border-right: 1px solid white;
}


.row-up .square{
  border-bottom: 1px solid white;
}

.row-down .square #app{
  height: 33px;
}

.row-down .square #profiles{
  height: 33px;
}

.start{
  background-color: white;

  /* height: 700px; */
}

.start-up{
  height: 200px;
  padding-top: 40px;
}

.start-up-left{
  width: 18%;
  height: 100%;
  margin-right: 10%;
  margin-left: 2%;
}

.start-up-left h2{
  font-size: 40px;
  padding-bottom: 30px;
}

.start-up-left p{
  font-weight: normal;
}

.start-up-right{
  width: 70%;
  height: 40%;
  padding: 15px;
  margin-top: 10px;
}

.start-up-right-up{
  width: 25%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}

.start-up-right-img {
  margin-bottom: 10px;
  padding-right: 60px;
  text-align: right;
}

.start-up-right-img li{
  display: inline;
  margin-left: 30px;
}

.start-up-right-img img{
  width: 100px;
  vertical-align: middle;
}

.start-down{
  padding-top: 60px;
  padding-bottom: 40px;
}

.start-down-left{
  width: 40%;
}

.start-down-left h2{
  font-size: 40px;
  padding-bottom: 40px;
}

.start-down-left p{
  font-weight: normal;
  padding-bottom: 60px;
}

.start-down-left-text{
  font-size: 12px;
  padding-top: 60px;
}

.start-down-right{
  width: 60%;
  text-align: right;
}

.start-down-right img{
  height: 350px;
}
/* main */

/* footer */
footer{
  background-color: #2D3E50;
}

footer h2{
  color: white;
  padding: 30px 0px;
}

footer a{
  text-decoration: none;
  color: lightgrey;
  padding: 0;
}

.footer-up{
  margin-bottom: 60px;
}

.footer-up .footer-up-text li{
  padding-bottom: 20px;
}

.footer-up .footer-up-text{
  width: 25%;
}

.footer-up .footer-up-text i{
  padding-top: 10px;
  padding-right: 30px;
  color: lightgrey;
}

#last-a{
  padding-bottom: 30px;
}

.footer-center{
  text-align: center;
}

.footer-center .languages li{
  display: inline;
  margin-right: 20px;
}

.languages hr{
  margin-top: 20px;
  border: 1px solid lightgrey;
}

.footer-bottom{
  padding: 30px 0px;
}

.footer-bottom-left{
  width: 50%;
}

.footer-bottom-left h3{
  color: white;
}

.footer-bottom-right{
  width: 50%;
  text-align: right;
}

.footer-bottom-right li{
  display: inline;
  padding-left: 20px;
}

.footer-bottom-right a{
  color: lightgrey;
}

.footer-bottom-right a:hover{
  color: lightblue;
}
/* /footer */



















/* / */
