*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #33475B;
  background: #F4F9FD;
}

.container{
  width: 70%;
  height: 100%;
  margin: auto;
}

.float-left{
  float: left;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.btn-border{
  color: #FE775A;
  border: 1px solid #FE775A;
  border-radius: 5px;
  padding: 9px;
}

.btn-orange{
  color: white;
  background-color: #FE775A;
  border-radius: 5px;
  padding: 10px;
}

.btn-large{
  padding: 20px 40px 20px 40px;
}

.btn-orange:hover{
  background-color: white;
  color: #FE775A;
}

.btn-border:hover{
  color: white;
  background-color: #FE775A;
}

nav .nav-top{
  width: 100%;
  height: 100px;
  background-color: #F4F9FD;
  border-bottom: 1px solid #32495B;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav .nav-top-left, nav .nav-top-right, nav .nav-bottom-left, nav .nav-bottom-right{
  width: 50%;
  line-height: 100px;
}


#linea{
  border-right: 1px solid black;
  padding-right: 20px;
}

.nav-top-left span:last-child{
  padding-left: 20px;
}

nav .nav-top-right{
  text-align: right;
}

nav .nav-top-right ul{
  display: inline-block;
  text-decoration: none;
}

nav .nav-top-right li, nav .nav-bottom-right li{
  list-style-type: none;
  display: inline-block;
  padding-left: 20px;
}

nav .nav-top-right a, .jumbotron-text a, .w-block-up a{
  text-decoration: none;
}

nav .nav-bottom{
  height: 100px;
  margin-top: 100px;
  background-color: white;
}

nav .nav-bottom-left .logo{
  padding-top: 5px;
}

nav .nav-bottom-right{
  text-align: right;
}

header .jumbotron{
  height: 650px;
  background-image: url('../img/jumbotron.png');
  background-color: #FFF4EF;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.2);
}

.jumbotron-text{
  width: 40%;
  padding-top: 40px;
}

.jumbotron-text h1{
  font-size: 50px;
}

.jumbotron-text h1,.jumbotron-text p, a{
  padding-bottom: 40px;
}

.jumbotron-text .jumbotron-text-low{
  font-size: 11px;
  padding-top: 40px;
}

.jumbotron-bar{
  width: 100%;
  height: 60px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
  position: absolute;
  bottom: 0px;
}

.powerful{
  text-align: center;
}

.powerful img{
  height: 250px;
  padding-top: 40px;
}

.powerful h2{
  font-size: 40px;
}

.powerful h2, .powerful .powerful-text{
  padding-bottom: 40px;
}

.w-block{
  width: 100%;
  height: 800px;
  /* background-color: pink; */
}

.w-block-up{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.w-block-up-left{
  width: 30%;
  height: 100%;
  padding: 40px;
  text-align: center;
}

.w-block-up-left img{
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.w-block-up-right{
  width: 70%;
  height: 100%;
  padding: 40px 0;
}

.w-block-up-right h3{
  text-transform: uppercase;
  display: inline-block;
}
.w-block-up-right hr{
  width: 580px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  border: 1px solid grey;
}

.w-block-up-right ul{
  list-style-type: none;
}

.w-block-up-right li{
  display: inline-block;
}

.w-block-up-right li i{
  padding-right: 10px;
}

.w-block-up-right li span{
  padding-right: 40px;
}

.w-block-up-right p, .w-block-up-right h3, .w-block-up-right ul{
  padding-top: 30px;
}

.w-block-up-right p{
  padding-right: 30%;
}

















































/* / */
